Language: Cpp
SortIncludes: false
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
BinPackArguments: false
AlignConsecutiveMacros: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: false
    AfterEnum: false
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: false
    BeforeCatch: true
    BeforeElse: true
    BeforeLambdaBody: false
    BeforeWhile: false